.slideWrapper {
    background-color: #d3ee88;
    width: 100%;
    height: 500px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    overflow: hidden;
}

.sliderText {
    width: 55%;
}

.sliderText h1 {
    text-transform: capitalize;
    font-style: 35px;
}

.sliderText p {
    font-style: italic;
    font-size: 14px;
}

.btn-crimson {
    background-color: crimson;
    font-weight: bold;
    color: white;
}

.bannerPrice {
    font-style: italic;
    color: crimson;
    margin-bottom: 15px;
}

.sliderImg {
    width: 45%;
    height: 100%;
    overflow: hidden;
}

.sliderImg img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .slideWrapper { 
        height: auto;
        padding: 30px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .sliderText{
        width: 100%;
    }
    .sliderImg {
        width: 55%;
        height: 100%;
        margin-bottom: 20px;
        overflow: hidden;
    }
}
